/* Подключение пользовательского шрифта */
@font-face {
    font-family: 'KreadonEB';
    src: url('fonts/Kreadon-EB.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Применение шрифта к заголовку h1 */
h1 {
    font-family: 'KreadonEB', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to left, #7A8D9B, #B2B9BF, #E3D4D0, #EED0C6, #DABEB6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 80px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9; /* Светлый фон для всего документа */
    color: #333;
    background: linear-gradient(to left, #7A8D9B, #B2B9BF, #E3D4D0, #EED0C6, #DABEB6);
}

/* Стили для фильтра */
.filter {
    text-align: center;
    margin-bottom: 20px;
}

    .filter label {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-right: 10px;
        color: #7A8D9B;
    }

    .filter select {
        font-family: 'Montserrat', sans-serif;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
        color: #7A8D9B;
        background-color: #fff;
        transition: all 0.3s ease;
    }

        .filter select:hover {
            border-color: #7A8D9B;
            box-shadow: 0 0 8px rgba(122, 141, 155, 0.3);
        }

/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff; /* Фон контейнера */
    border-radius: 12px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */

}

/* Стили для карточки изображения */
.image-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: calc((1200px - 60px) / 3); /* Ширина карточки с учетом отступов */
    text-align: center;
    opacity: 1;
    transform: scale(1);
}

    .image-card.hidden {
        opacity: 0;
        transform: scale(0.9);
        pointer-events: none;
    }

    .image-card.removed {
        display: none;
    }

    .image-card:hover {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .image-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
    }

/* Стили для тега изображения */
.image-tag {
    background-color: #7A8D9B;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0 0 12px 12px;
}

/* Стили для описания изображения */
.image-description {
    padding: 10px;
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 70vh;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

.modal-tag {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgba(122, 141, 155, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.modal-description {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
    margin: 10px auto;
}

/* Стили для контейнера заголовка и фильтра */
.header-container {
    background-color: white;
    width: 100%; /* Ширина на всю ширину родителя */
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px; /* Отступ снизу */
    border-radius: 12px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Убираем отступы у body и html */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Основной шрифт */
}
.main-container {
    max-width: 1230px; /* Фиксированная ширина */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
}